@model TerceraEntrega.Models.ListaUsuario
@{
    ViewBag.Title = "ActualizarInformacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>

<body>
    <div>
        <h3>Actualizar información del usuario</h3>
        <style>
            .boton-azul {
                background-color: #35B2FF;
                border: none;
                color: white;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                margin: 4px 2px;
                transition-duration: 0.4s;
                cursor: pointer;
                border-radius: 6px;
                border: 2px solid #35B2FF;
            }

                .boton-azul:hover {
                    background-color: white;
                    color: #35B2FF;
                }
        </style>
        <!-- Formulario para ingresar la cédula del usuario para actualizar -->
        <form action="@Url.Action("VerificarActualizarUsuario", "Home")" method="post">
            <label>Cédula del usuario:</label>
            <input type="text" name="cedula" />
            <input type="submit" value="Actualizar" class="boton-azul" />
        </form>
        <!-- Mensaje de notificación de error o éxito -->
        @if (!string.IsNullOrEmpty(ViewBag.Notificacion))
        {
            <div class="alert alert-danger">@ViewBag.Notificacion</div>
        }


    </div>
</body>
</html>