@model TerceraEntrega.Models.ListaUsuario
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<html>
<head>
    <title>Registrar usuario</title>
    <link rel="stylesheet" href="/Content/Usuario.css" />

</head>
<body>
    <div>
        <h3>Datos Del usuario</h3>
        @if (!string.IsNullOrEmpty(ViewBag.Notificacion))
        {
            <div class="alert alert-danger">@ViewBag.Notificacion</div>
        }
        @using (Html.BeginForm("Registrar", "Home", FormMethod.Post))
        {
            <table>

                <tr>
                    <td><label> * Cedula:  </label></td>
                    <td><input type="text" name="cedula" pattern="[0-9]+" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value=" " /></td>
                </tr>
                <tr>
                    <td><label> * Nombre:  </label></td>
                    <td><input type="text" name="nombre" pattern="[a-zA-Z.,:;()¿?¡! ñ]+" required /></td>
                </tr>
                <tr>
                    <td><label> * Apellido:  </label></td>
                    <td><input type="text" name="apellido" pattern="[a-zA-Z.,:;()¿?¡! ñ]+" required /></td>
                </tr>
                <tr>
                    <td><label> * Periodo de consumo:  </label></td>
                    <td><input type="text" name="Pconsumo" pattern="[0-9]+" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value=" " /></td>
                </tr>
                <tr>
                    <td><label> * Estrato:  </label></td>
                    <td><input type="text" name="estrato" pattern="[0-6]+" oninput="this.value=this.value.replace(/[^0-6]/g,'');" value=" " /></td>
                </tr>
                <tr>
                    <td><label> * Meta ahorro de energía:  </label></td>
                    <td><input type="text" name="MHenergia" pattern="[0-9]+" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value=" " /></td>
                </tr>
                <tr>
                    <td><label> * Consumo actual de energía:  </label></td>
                    <td><input type="text" name="CAenergia" pattern="[0-9]+" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value=" " /></td>
                </tr>
                <tr>
                    <td><label> * Promedio del consumo de agua:  </label></td>
                    <td><input type="text" name="PCagua" pattern="[0-9]+" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value=" " /></td>
                </tr>
                <tr>
                    <td><label> * Consumo actual de agua:  </label></td>
                    <td><input type="text" name="CAagua" pattern="[0-9]+" oninput="this.value=this.value.replace(/[^0-9]/g,'');" value=" " /></td>
                </tr>

            </table>

            <tr>
                <td><input type="submit" name="enviar" value="Enviar" /></td>
            </tr>

        }

    </div>

</body>

</html>

