@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/PersonaVista.css" />
</head>
<body>
    <br>
    <h1 style="text-align: center;">Ahorro Consumo de Energía</h1>
    <br />
    <div class="container">
        <div>
            <h3>
                <center>La finalidad de esta aplicación es realizar una variedad de calculos con respecto al consumo de energía y de agua de diferentes usuarios.</center>
            </h3>
            <h2 style="text-align: center;">:)</h2>

        </div>

    </div>
    <!--<div class="buttons">
        @using (Html.BeginForm("CrearRegistro", "Home", FormMethod.Post))
        {
            <style>
                .boton-minimalista {
                    background-color: transparent;
                    border: 2px solid #333;
                    color: #333;
                    font-size: 16px;
                    padding: 10px 20px;
                }
            </style>

            <button id="miBoton1" class="boton-minimalista"> Registrar Usuario</button>

            <style>
                .boton-minimalista1 {
                    background-color: transparent;
                    border: 2px solid red;
                    color: #333;
                    font-size: 16px;
                    padding: 10px 20px;
                }
            </style>

        }
    </div>-->
</body>
</html>


