
@{
    ViewBag.Title = "UsuarioSinRegistro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>Estadisticas</title>
    <link rel="stylesheet" href="~/Content/PersonaVista.css" />
</head>
<body>
    <div>
        <form action="UsuarioSinRegistro" method="post">
            <table>
                <tr>
                    <h4 style="text-align: center;">Actualmente no se encuentran usuarios en el sistema</h4>
                </tr>
                <tr>

            </table>
        </form>
    </div>
</body>
</html>

